<div *ngIf="adding" class="centered-flex gap-4 p-12 bg-black opacity-70">
	<h2 class="text-white">Adding new item...</h2>
</div>
<form
	*ngIf="!adding"
	class="w-80 centered-flex flex-col gap-3 p-10 bg-gray-800 dark:bg-black rounded-lg"
	(ngSubmit)="addItem()"
>
	<input
		class="modal-input bg-white text-black dark:bg-gray-700 dark:text-white"
		type="text"
		placeholder="Item Name"
		name="name"
		id="name"
		[(ngModel)]="itemName"
	/>
	<input
		class="modal-input bg-white text-black dark:bg-gray-700 dark:text-white"
		type="number"
		placeholder="Item Price"
		name="price"
		id="price"
		[(ngModel)]="itemPrice"
	/>
	<button
		class="modal-input bg-blue-600 text-white"
		type="submit"
	>
		Add
	</button>
	<p
		*ngIf="errorMessage"
		class="text-red-500 text-center w-full h-full break-words"
	>
		{{ errorMessage }}
	</p>
</form>
