<div class="flex items-center justify-between p-3 bg-white dark:bg-black">
	<a class="text-2xl dark:text-white text-black" routerLink="/">
		{{ appName }}
	</a>
	<div class="flex gap-3 items-center">
		<div *ngIf="loggedIn" class="flex gap-3">
			<span class="text-black dark:text-white"> {{ user }} </span>
			<button
				class="text-black dark:text-white underline"
				(click)="signOut()"
			>
				Logout
			</button>
		</div>

		<div *ngIf="!loggedIn" class="flex gap-3">
			<a
				class="text-black dark:text-white underline"
				routerLink="/signin"
			>
				Login
			</a>
			<a
				class="text-black dark:text-white underline"
				routerLink="/signup"
			>
				Signup
			</a>
		</div>

		<button
			class="p-2 text-sm rounded-lg bg-white text-black border hover:bg-[#cecece] border-black dark:text-white dark:bg-[#1c1c1c] dark:hover:bg-[#353535]"
			(click)="toggleTheme()"
		>
			<span>{{ darkMode ? "Light Mode" : "Dark Mode" }}</span>
		</button>
	</div>
</div>
